$backgroundColor: #000848;
$textColor: #27FF00;
$maxWidth: 1280px;

html {
    background-color: $backgroundColor;
    color: $textColor;
}

.container {
    // display: grid;
    // align-items: center;
    // justify-content: center;
    text-align: center;
    // position: absolute;
    // top: 50%;
    padding: 10% 0%;
    margin-inline: auto;
    // padding-inline: 500px;
    max-width: $maxWidth;

    h1 {
        font-family: "source-code-variable", sans-serif;
    }

    // img {
    //     width: 270px;
    // }

    // the pog juice is too big in the third container, so make the image smaller
    &:nth-of-type(3) {
        img {
            width: 270px;
        }
    }

    p {
        font-family: "source-code-variable", sans-serif;
        // font-variation-settings: "wght" 200;
        font-size: 54px;
    }
    p:nth-of-type(1) {
        padding-bottom: 1em;
    }
    code {
        // enables justify-content
        display: flex;
        // makes the code center on the webpage
        justify-content: center;
        // aligns the text to the left
        text-align: left;
    }
}

code {
    color: orangered;
    font-size: 18px;
    // text-align: left;
}